.drui-dropdown {
  width: 100%;
  user-select: none;
  position: relative;
  .drui-dropdown-input {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-normal);
    color: var(--color-black);

    padding: 8px 4px 8px 12px;
    border: 1px solid var(--color-pale-gray);
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .drui-dropdown-input-arrow {
      margin-left: 12px;
      transition-duration: 0.3s;
    }
    .drui-dropdown-input-arrow--rotate {
      transform: rotate(-180deg);
    }
  }
  .drui-dropdown-anchor {
    position: relative;
    cursor: pointer;
  }

  .drui-dropdown-content--align-right {
    right: 0;
  }
  .drui-dropdown-content--align-left {
    left: 0;
  }

  .drui-dropdown-content {
    list-style: none;
    position: absolute;
    top: 1em;
    z-index: 10000;
    width: max-content;
    visibility: hidden;
    transform: translateY(1em);
    transition: transform ease 0.3s;

    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 0 2px 12px -1px rgba(161, 170, 183, 0.3);
    font-family: var(--font-family-primary);

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    &.drui-dropdown-content-visible {
      visibility: visible;
      transform: translateY(1.75em);
    }
    
    .drui-dropdown-label {
      padding: 8px 12px;
      text-transform: uppercase;
      color: var(--color-dark-gray);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-bold);
      border-bottom: 1px solid var(--color-pale-gray);
    }

    li {
      padding: 8px 12px;

      &:hover {
        background-color: var(--color-lightest-gray);
        cursor: pointer;
      }

      .drui-dropdown-item-title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        .drui-dropdown-item-icon {
          display: inline-block;
          margin-right: 8px;
        }
        .drui-dropdown-item-title {
          font-size: var(--font-size-normal);
          color: var(--color-black);
        }
      }

      .drui-dropdown-item-description {
        max-width: 140px;
        padding-top: 4px;
        font-size: var(--font-size-smallest);
        font-weight: var(--font-weight-light);
      }
      &.drui-dropdown-item--disabled {
        opacity: 0.25;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
