.theme-dark {
  .drui-dropdown-input {
    color: var(--color-gray--dark-mode);
    background: var(--color-secondary--hover--dark-mode);
    border: 1px solid var(--color-dark-gray--dark-mode);
    box-shadow: none !important;
    transition-duration: 250ms;
    position: relative;

    &:hover {
      cursor: pointer;
      transition-duration: 250ms;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .drui-dropdown {
    background: var(--color-secondary--hover--dark-mode);
    box-shadow: 0 2px 12px -1px var(--color-dark-gray--dark-mode);
    .drui-dropdown__header {
      border-bottom: 1px solid var(--color-dark-gray--dark-mode);
    }
    .drui-dropdown__arrow {
      background: var(--color-secondary--hover--dark-mode);
      box-shadow: -2px -2px 1px -2px var(--color-dark-gray--dark-mode);
    }
    .drui-dropdownItem {
      background-color: var(--color-secondary--hover--dark-mode);
      color: red;
      .drui-dropdownItem__action {
        background-color: transparent;
        &:hover {
          background-color: var(--color-lightest-gray--dark-mode);
        }
      }
      &.drui-dropdownItem--disabled {
        .drui-dropdownItem__action {
          &:hover {
            background-color: transparent;
          }
        }
      }
      .drui-dropdownItem__titleText {
        color: var(--color-white);
      }
    }

    .drui-dropdown__title {
      color: var(--color-white);
    }
  }
}

.drui-dropdown-input {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  color: var(--color-black);
  background: var(--color-white);
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--color-pale-gray);
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  transition-duration: 250ms;
  position: relative;

  &.dropdown-anchored {
    border: none !important;
    background-color: none !important;
    border-radius: none !important;
    padding: 0px !important;
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    &:hover {
      box-shadow: none !important;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 12px -1px var(--color-pale-gray);
    transition-duration: 250ms;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-pale-gray);
    &:hover {
      box-shadow: none;
    }
  }
  &.drui_dropdown__wrapper {
    position: relative;
    display: inline-block;
    width: auto;
  }
}

.drui-dropdown__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 8px 0;
  margin: 0 20px 10px;
  border-bottom: 1px solid var(--color-pale-gray);
  white-space: nowrap;
}

.drui-dropdown{
  display: table;
  position: absolute;
  z-index: 9;
  font-family: var(--font-family-primary);
  padding: 12px 0px;
  width: auto;
  max-width: 320px;
  width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--color-white);
  box-shadow: 0 2px 12px -1px var(--color-pale-gray);
  

  .drui-dropdown--top {
    top: auto;
    bottom: 100%;
    margin-top: auto;
    margin-bottom: 4px;

    .drui-dropdown__arrow {
      top: auto;
      bottom: -4px;
      transform: translate(-50%, -20%) rotate(45deg);
      box-shadow: 2px 2px 1px -2px var(--color-pale-gray);
    }

    &.drui-dropdown--right {
      .drui-dropdown__arrow {
        transform: translate(50%, -20%) rotate(45deg);
      }
    }
  }

  .drui-dropdown--bottom {
    top: 100%;
    bottom: auto;
    margin-top: 4px;
    margin-bottom: auto;

    &.drui-dropdown--right {
      .drui-dropdown__arrow {
        transform: translate(50%, 20%) rotate(45deg);
      }
    }
  }

  .drui-dropdown--right {
    right: 0;
    left: auto;
    transform: translate(0, 0);
  }

  .drui-dropdown--left {
    right: auto;
    left: 0;
    transform: translate(0, 0);
  }

  .drui-dropdown--center {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .drui-dropdown__inner {
    display: block;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: auto;
    height: auto;
    max-height: 180px;
    overflow-y: auto;
    padding: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* .drui-dropdown__arrow {
      display: block;
      position: absolute;
      z-index: 0;
      top: -4px;
      left: 50%;
      transform: translate(-50%, 20%) rotate(45deg);
      width: 10px;
      height: 10px;
      background: var(--color-white);
      box-shadow: -2px -2px 1px -2px var(--color-pale-gray);
    } */

  .drui-dropdown__title {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    color: var(--color-light-gray);
    font-weight: var(--font-weight-bold);
  }

  .drui-dropdown__itemsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
  }

  .drui-dropdown__listItemWrapper {
    display: flex;
    padding: 0px;
    margin: 0;
  }
}

.drui-dropdownItem {
  flex: 1 0 auto;
  max-width: 100%;
  min-width: 0;
  height: 34px;
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  background-color: var(--color-white);

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: var(--font-family-primary);
  }

  &.drui-dropdownItem--withDescription {
    height: auto;

    .drui-dropdownItem__action {
      flex-wrap: wrap;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .drui-dropdownItem__iconWrapper {
      align-items: flex-start;
      padding-top: 10px;
    }
  }

  &.drui-dropdownItem.drui-dropdownItem--disabled {
    .drui-dropdownItem__action {
      &:hover {
        cursor: not-allowed;
        background-color: transparent;
      }
    }

    .drui-dropdownItem__icon,
    .drui-dropdownItem__title,
    .drui-dropdownItem__titleIcon,
    .drui-dropdownItem__description {
      opacity: 0.6;
      color: var(--color-pale-gray);
      fill: var(--color-pale-gray);
    }

    &:hover {
      .drui-dropdownItem__icon,
      .drui-dropdownItem__title,
      .drui-dropdownItem__titleIcon,
      .drui-dropdownItem__description {
        opacity: 0.6;
        color: var(--color-pale-gray);
        fill: var(--color-pale-gray);
      }
    }
  }

  &.drui-dropdownItem--showItemStatus,
  &.drui-dropdownItem--withIcon {
    .drui-dropdownItem__action {
      padding: 5px 46px 5px 46px;
    }
  }

  .drui-dropdownItem__action {
    display: flex;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-lightest-gray);
      cursor: pointer;

      .drui-dropdownItem__title {
        color: var(--color-black);
      }

      .drui-dropdownItem__icon {
        fill: var(--color-black);
      }

      .drui-dropdownItem__titleIcon {
        fill: var(--color-black);

        * {
          fill: inherit;
        }
      }
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: var(--color-pale-gray);
    }
  }

  .drui-dropdownItem__iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 20px;
    width: 20px;
    height: 100%;
  }

  .drui-dropdownItem__icon {
    fill: var(--color-black);

    * {
      fill: inherit;
    }
  }

  &.drui-dropdownItem__title {
    flex: 0 1 auto;
    min-width: 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    color: var(--color-black);

    &.drui-dropdownItem__titleIcon {
      margin-left: 6px;
    }
  }

  .drui-dropdownItem__titleText {
    color: var(--color-dark-gray);
    display: flex;
    flex: 0 0 auto;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .drui-dropdownItem__titleIcon {
    flex: 0 1 24px;
    display: block;
    fill: var(--color-dark-gray);
    transition: fill 75ms linear;

    * {
      fill: inherit;
      transition: fill 75ms linear;
    }
  }

  .drui-dropdownItem__description {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: var(--color-light-gray);
  }
}

.drui-dropdown-input-label {
  overflow: hidden;
  white-space: nowrap;
}
