.drui-dropdown {
  user-select: none;
  position: relative;
  .drui-dropdown-input {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-normal);
    color: var(--color-black);

    padding: 5px 4px 5px 12px;
    border: 1px solid var(--color-pale-gray);
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .drui-dropdown-input-arrow {
      margin-left: 12px;
      transition-duration: 0.3s;
    }
    .drui-dropdown-input-arrow--rotate {
      transform: rotate(-180deg);
    }
    &.drui-dropdown-input--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
    .drui-dropdown-input-loading {
      pointer-events: none;
      cursor: not-allowed;
      width: 100%;
      padding: 12px 4px 12px 12px;
      .drui-loader-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 24px;
        .drui-loader {
          border-color: var(--color-primary);
        }
      }
    }
  }
  .drui-dropdown-anchor {
    position: relative;
    cursor: pointer;
  }

  .drui-dropdown-content--align-right {
    right: 0;
  }
  .drui-dropdown-content--align-left {
    left: 0;
  }

  .drui-dropdown-content::-webkit-scrollbar {
    display: none;
  }

  .drui-dropdown-content {
    list-style: none;
    position: absolute;
    top: 1em;
    z-index: 10000;
    width: max-content;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(1.1em);
    transition: transform ease 0.3s;

    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 0 2px 12px -1px rgba(161, 170, 183, 0.3);
    font-family: var(--font-family-primary);

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.drui-dropdown-content-visible {
      visibility: visible;
      transform: translateY(1.75em);
      pointer-events: all;
    }

    .drui-dropdown-label {
      padding: 8px 12px;
      text-transform: uppercase;
      color: var(--color-dark-gray);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-bold);
      border-bottom: 1px solid var(--color-pale-gray);
    }

    li {
      padding: 8px 12px;

      &:hover {
        background-color: var(--color-lightest-gray);
        cursor: pointer;
      }

      &.drui-dropdown-item--section-header {
        padding: 8px 12px;
        text-transform: uppercase;
        color: var(--color-dark-gray);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
        border-bottom: 1px solid var(--color-pale-gray);
        pointer-events: none;
      }

      &.drui-dropdown-item--section-splitter {
        border-bottom: 1px solid var(--color-pale-gray);
        pointer-events: none;
      }

      .drui-dropdown-item-title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        &.drui-dropdown-item-title--align-start {
          justify-content: flex-start;
        }
        &.drui-dropdown-item-title--align-center {
          justify-content: center;
        }
        &.drui-dropdown-item-title--align-end {
          justify-content: flex-end;
        }
        .drui-dropdown-item-icon {
          display: inline-block;
          margin-right: 8px;
        }
        .drui-dropdown-item-title {
          font-size: var(--font-size-normal);
          color: var(--color-black);
        }
      }

      .drui-dropdown-item-description {
        max-width: 140px;
        padding-top: 4px;
        font-size: var(--font-size-smallest);
        font-weight: var(--font-weight-light);
      }
      &.drui-dropdown-item--disabled {
        opacity: 0.25;
        cursor: not-allowed;
        pointer-events: none;
      }
      &.drui-dropdown-item--selected {
        border-left: 3px solid var(--color-primary);
        background-color: #2b6af30c;
      }
    }
  }
}
