.theme-dark .drui-dropdown-placeholder {
  color: var(--color-gray--dark-mode);
}
.theme-dark .drui-dropdown-input {
  color: var(--color-gray--dark-mode);
  background: var(--color-secondary--hover--dark-mode);
  border: 1px solid var(--color-dark-gray--dark-mode);
  box-shadow: none !important;
  transition-duration: 250ms;
  position: relative;
}
.theme-dark .drui-dropdown-input:hover {
  cursor: pointer;
  transition-duration: 250ms;
}
.theme-dark .drui-dropdown-input.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.theme-dark .drui-dropdown-input.disabled:hover {
  box-shadow: none;
}
.theme-dark .drui-dropdown {
  background: var(--color-secondary--hover--dark-mode);
  box-shadow: 0 0px 4px -1px var(--color-dark-gray--dark-mode);
}
.theme-dark .drui-dropdown .drui-dropdown__header {
  border-bottom: 1px solid var(--color-dark-gray--dark-mode);
}
.theme-dark .drui-dropdown .drui-dropdown__arrow {
  background: var(--color-secondary--hover--dark-mode);
  box-shadow: -2px -2px 1px -2px var(--color-dark-gray--dark-mode);
}
.theme-dark .drui-dropdown .drui-dropdownItem {
  background-color: var(--color-secondary--hover--dark-mode);
  color: red;
}
.theme-dark .drui-dropdown .drui-dropdownItem .drui-dropdownItem__action {
  background-color: transparent;
}
.theme-dark .drui-dropdown .drui-dropdownItem .drui-dropdownItem__action:hover {
  background-color: var(--color-lightest-gray--dark-mode);
}
.theme-dark
  .drui-dropdown
  .drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__action:hover {
  background-color: transparent;
}
.theme-dark .drui-dropdown .drui-dropdownItem .drui-dropdownItem__titleText {
  color: var(--color-white);
}
.theme-dark .drui-dropdown .drui-dropdown__title {
  color: var(--color-white);
}
.drui-dropdown-placeholder {
  color: var(--color-light-gray);
}
.drui-dropdown-input {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  position: relative;
}
.drui-dropdown-input:not(.dropdown-anchored) {
  background-color: var(--color-white);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  color: var(--color-black);
  border-radius: 4px;
  border: 1px solid var(--color-pale-gray);
  padding: 8px;
  transition-duration: 250ms;
}
.drui-dropdown-input.dropdown-anchored:hover {
  box-shadow: none !important;
  background-color: none !important;
}
.drui-dropdown-input:hover {
  cursor: pointer;
  transition-duration: 250ms;
}
.drui-dropdown-input.withShadow:hover {
  box-shadow: 0 0px 4px -1px var(--color-black);
}
.drui-dropdown-input.disabled {
  cursor: not-allowed;
  color: var(--color-pale-gray);
}
.drui-dropdown-input.disabled:hover {
  box-shadow: none;
}
.drui-dropdown-input.drui_dropdown__wrapper {
  position: relative;
  display: inline-block;
  width: auto;
}
.drui-dropdown__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 8px 0;
  margin: 0 20px 10px;
  border-bottom: 1px solid var(--color-pale-gray);
  white-space: nowrap;
}
.drui-dropdown {
  display: table;
  position: absolute;
  z-index: 10000;
  font-family: var(--font-family-primary);
  padding: 12px 0px;
  width: auto;
  max-width: 320px;
  width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--color-white);
}
.drui-dropdown.withShadow {
  box-shadow: 0 0px 4px -1px var(--color-black);
}
.drui-dropdown .drui-dropdown--top {
  top: auto;
  bottom: 100%;
  margin-top: auto;
  margin-bottom: 4px;
}
.drui-dropdown .drui-dropdown--top .drui-dropdown__arrow {
  top: auto;
  bottom: -4px;
  transform: translate(-50%, -20%) rotate(45deg);
}
.drui-dropdown .drui-dropdown--top.drui-dropdown--right .drui-dropdown__arrow {
  transform: translate(50%, -20%) rotate(45deg);
}
.drui-dropdown .drui-dropdown--bottom {
  top: 100%;
  bottom: auto;
  margin-top: 4px;
  margin-bottom: auto;
}
.drui-dropdown
  .drui-dropdown--bottom.drui-dropdown--right
  .drui-dropdown__arrow {
  transform: translate(50%, 20%) rotate(45deg);
}
.drui-dropdown .drui-dropdown--right {
  right: 0;
  left: auto;
  transform: translate(0, 0);
}
.drui-dropdown .drui-dropdown--left {
  right: auto;
  left: 0;
  transform: translate(0, 0);
}
.drui-dropdown .drui-dropdown--center {
  right: auto;
  left: 50%;
  transform: translate(-50%, 0);
}
.drui-dropdown .drui-dropdown__inner {
  display: block;
  position: relative;
  z-index: 1;
  flex-direction: column;
  width: auto;
  height: auto;
  max-height: 180px;
  overflow-y: auto;
  padding: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.drui-dropdown .drui-dropdown__inner::-webkit-scrollbar {
  display: none;
}
.drui-dropdown .drui-dropdown__title {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-light-gray);
  font-weight: var(--font-weight-bold);
}
.drui-dropdown .drui-dropdown__itemsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
.drui-dropdown .drui-dropdown__listItemWrapper {
  display: flex;
  padding: 0px;
  margin: 0;
}
.drui-dropdownItem {
  flex: 1 0 auto;
  max-width: 100%;
  min-width: 0;
  height: 34px;
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  background-color: var(--color-white);
}
.drui-dropdownItem *,
.drui-dropdownItem *:before,
.drui-dropdownItem *:after {
  box-sizing: inherit;
  font-family: var(--font-family-primary);
}
.drui-dropdownItem.drui-dropdownItem--withDescription {
  height: auto;
}
.drui-dropdownItem.drui-dropdownItem--withDescription
  .drui-dropdownItem__action {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.drui-dropdownItem.drui-dropdownItem--withDescription
  .drui-dropdownItem__iconWrapper {
  align-items: flex-start;
  padding-top: 10px;
}
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__action:hover {
  cursor: not-allowed;
  background-color: transparent;
}
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__icon,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__title,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__titleIcon,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled
  .drui-dropdownItem__description {
  opacity: 0.6;
  color: var(--color-pale-gray);
  fill: var(--color-pale-gray);
}
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled:hover
  .drui-dropdownItem__icon,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled:hover
  .drui-dropdownItem__title,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled:hover
  .drui-dropdownItem__titleIcon,
.drui-dropdownItem.drui-dropdownItem.drui-dropdownItem--disabled:hover
  .drui-dropdownItem__description {
  opacity: 0.6;
  color: var(--color-pale-gray);
  fill: var(--color-pale-gray);
}
.drui-dropdownItem.drui-dropdownItem--showItemStatus .drui-dropdownItem__action,
.drui-dropdownItem.drui-dropdownItem--withIcon .drui-dropdownItem__action {
  padding: 5px 46px 5px 46px;
}
.drui-dropdownItem .drui-dropdownItem__action {
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.drui-dropdownItem .drui-dropdownItem__action:hover {
  background-color: var(--color-lightest-gray);
  cursor: pointer;
}
.drui-dropdownItem .drui-dropdownItem__action:hover .drui-dropdownItem__title {
  color: var(--color-black);
}
.drui-dropdownItem .drui-dropdownItem__action:hover .drui-dropdownItem__icon {
  fill: var(--color-black);
}
.drui-dropdownItem
  .drui-dropdownItem__action:hover
  .drui-dropdownItem__titleIcon {
  fill: var(--color-black);
}
.drui-dropdownItem
  .drui-dropdownItem__action:hover
  .drui-dropdownItem__titleIcon
  * {
  fill: inherit;
}
.drui-dropdownItem .drui-dropdownItem__action:focus {
  outline: none;
}
.drui-dropdownItem .drui-dropdownItem__action:active {
  background-color: var(--color-pale-gray);
}
.drui-dropdownItem .drui-dropdownItem__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20px;
  width: 20px;
  height: 100%;
}
.drui-dropdownItem .drui-dropdownItem__icon {
  fill: var(--color-black);
}
.drui-dropdownItem .drui-dropdownItem__icon * {
  fill: inherit;
}
.drui-dropdownItem.drui-dropdownItem__title {
  flex: 0 1 auto;
  min-width: 0;
  display: flex;
  align-items: center;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  color: var(--color-black);
}
.drui-dropdownItem.drui-dropdownItem__title.drui-dropdownItem__titleIcon {
  margin-left: 6px;
}
.drui-dropdownItem .drui-dropdownItem__titleText {
  color: var(--color-dark-gray);
  display: flex;
  flex: 0 0 auto;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.drui-dropdownItem .drui-dropdownItem__titleIcon {
  flex: 0 1 24px;
  display: block;
  fill: var(--color-dark-gray);
  transition: fill 75ms linear;
}
.drui-dropdownItem .drui-dropdownItem__titleIcon * {
  fill: inherit;
  transition: fill 75ms linear;
}
.drui-dropdownItem .drui-dropdownItem__description {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: var(--color-light-gray);
}
.drui-dropdown-input-label {
  overflow: hidden;
  white-space: nowrap;
}
