.drui-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    user-select: none;

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-primary);

    &.drui-badge--primary {
        background: var(--color-primary);
        color: var(--color-white);
    }

    &.drui-badge--secondary {
        background: var(--color-secondary);
        color: var(--color-primary);
    }

    &.drui-badge--success {
        background: var(--color-success);
        color: var(--color-white);
    }

    &.drui-badge--warning {
        background: var(--color-warning);
        color: var(--color-white);
    }

    &.drui-badge--danger {
        background: var(--color-danger);
        color: var(--color-white);
    }

    &.drui-badge--info {
        background: var(--color-info);
        color: var(--color-black);
        border: 1px solid var(--color-pale-gray);
    }
    &.drui-badge--hoverable:hover {
        cursor: pointer;
    }
}