.theme-dark .drui-switch {
  color: var(--color-white);
}
.theme-dark .drui-switch.disabled {
  color: var(--color-dark-gray);
}
.theme-dark .drui-switch.disabled .switch__input {
  display: none;
}
.theme-dark .drui-switch.disabled .switch__input:checked ~ .switch__button {
  border-color: var(--color-black);
  background: var(--color-secondary--dark-mode);
}
.theme-dark
  .drui-switch.disabled
  .switch__input:checked
  ~ .switch__button::after {
  transform: translate3d(20px, 0, 0);
}
.theme-dark .drui-switch.disabled .switch__button {
  background: var(--color-black) !important;
}
.theme-dark .drui-switch.disabled .switch__button::after {
  background-color: var(--color-light-gray);
  box-shadow: none !important;
}
.theme-dark .drui-switch .switch__button {
  background: var(--color-black);
  border: 1px solid var(--color-dark-gray) !important;
}
.theme-dark .drui-switch .switch__button::after {
  background-color: var(--color-white);
  box-shadow: none !important;
}
.theme-dark .drui-switch .switch__input {
  display: none;
}
.theme-dark .drui-switch .switch__input:checked ~ .switch__button {
  border-color: var(--color-black);
  background: var(--color-primary);
  border: 1px solid var(--color-primary) !important;
}
.theme-dark .drui-switch.variant-primary .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-primary) !important;
}
.theme-dark .drui-switch.drui-switch.variant-secondary .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-secondary) !important;
}
.theme-dark .drui-switch.drui-switch.variant-info .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-info) !important;
}
.theme-dark .drui-switch.drui-switch.variant-success .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-success) !important;
}
.theme-dark .drui-switch.drui-switch.variant-danger .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-danger) !important;
}
.theme-dark .drui-switch.drui-switch.variant-warning .switch__input:checked ~ .switch__button {
  border: 1px solid var(--color-warning) !important;
}
.theme-dark .drui-switch .switch__input:checked ~ .switch__button::after {
  transform: translate3d(20px, 0, 0);
}
.theme-dark .drui-switch .switch__input:disabled ~ .switch__button {
  background-color: var(--color-primary);
}
.theme-dark .drui-switch .switch__input:disabled ~ .switch__button::after {
  box-shadow: none;
}
.drui-switch {
  font-size: var(--font-size-normal);
  font-family: var(--font-family-primary);
  color: var(--color-black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.drui-switch.disabled {
  cursor: not-allowed;
  color: var(--color-dark-gray);
  opacity: 0.5;
}
.drui-switch.switch--right {
  flex-direction: row-reverse;
}
.drui-switch.switch--left {
  flex-direction: row;
}
.drui-switch.switch--top {
  width: max-content;
  flex-direction: column;
}
.drui-switch.switch--top .switch__label {
  margin-bottom: 6px;
}
.drui-switch.switch--bottom {
  width: max-content;
  flex-direction: column-reverse;
}
.drui-switch.variant-primary .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-primary);
}
.drui-switch.variant-secondary .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-secondary);
}
.drui-switch.variant-success .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-success);
}
.drui-switch.variant-info .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-info);
}
.drui-switch.variant-warning .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-warning);
}
.drui-switch.variant-danger .switch__input:checked ~ .switch__button {
  border-color: var(--color-lightest-gray);
  background: var(--color-danger);
}
.drui-switch .switch__button {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 22px;
  background: var(--color-lightest-gray);
  border: 1px solid var(--color-pale-gray);
  cursor: inherit;
  transition: all 300ms ease;
  box-sizing: border-box;
}
.drui-switch .switch__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: 2px;
  left: 2px;
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px #2C2F3680;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition-duration: 300ms;
}
.drui-switch .switch__input {
  display: none;
}
.drui-switch .switch__input:checked ~ .switch__button::after {
  transform: translate3d(20px, 0, 0);
}
.drui-switch .switch__input:disabled ~ .switch__button {
  background-color: var(--color-pale-gray);
}
.drui-switch .switch__input:disabled ~ .switch__button::after {
  box-shadow: none;
}
