.drui-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.drui-radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drui-radio-button-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-lightest-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  transition-duration: 250ms;
}
.drui-radio-button-disabled {
  cursor: not-allowed;
  opacity: 0.9;
}
.drui-radio-button:not(.drui-radio-button-disabled):hover input ~ .drui-radio-button-input {
  background-color: var(--color-pale-gray);
  transition-duration: 250ms;
}
.drui-radio-button-primary input:checked ~ .drui-radio-button-input {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition-duration: 250ms;
}
.drui-radio-button-success input:checked ~ .drui-radio-button-input {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
  transition-duration: 250ms;
}
.drui-radio-button-secondary input:checked ~ .drui-radio-button-input {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  transition-duration: 250ms;
}
.drui-radio-button-warning input:checked ~ .drui-radio-button-input {
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);
  transition-duration: 250ms;
}
.drui-radio-button-danger input:checked ~ .drui-radio-button-input {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);
  transition-duration: 250ms;
}
.drui-radio-button-input:after {
  content: "";
  position: absolute;
  display: none;
}
.drui-radio-button input:checked ~ .drui-radio-button-input:after {
  display: block;
}
.drui-radio-button .drui-radio-button-input:after {
  top: 9.5px;
  left: 9.5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-white);
  transition-duration: 250ms;
}
.drui-radio-button-secondary .drui-radio-button-input:after {
  top: 9.5px;
  left: 9.5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-primary);
  transition-duration: 250ms;
}
