.theme-dark .drui-checkbox {
  background-color: transparent !important;
  border: 1px solid var(--color-white) !important;
}
.theme-dark .drui-checkbox.checked {
  background-color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
}
.theme-dark .drui-checkbox.disabled {
  background-color: var(--color-dark-gray) !important;
  border: 1px solid var(--color-dark-gray) !important;
}
.theme-dark .drui-checkbox.disabled path {
  stroke: var(--color-white) !important;
}
.theme-dark .drui-checkbox.disabled.variant-secondary {
  background-color: transparent !important;
}
.theme-dark .drui-checkbox.disabled.variant-secondary path {
  stroke: var(--color-dark-gray) !important;
}
.drui-checkbox-container .drui-checkbox {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-pale-gray);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.drui-checkbox-container .drui-checkbox.disabled {
  cursor: not-allowed;
  background-color: var(--color-gray--dark-mode);
  border: 1px solid var(--color-gray--dark-mode);
}
.drui-checkbox-container .drui-checkbox.disabled path {
  stroke: var(--color-white);
}
.drui-checkbox-container .drui-checkbox.disabled.variant-secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray--dark-mode);
}
.drui-checkbox-container .drui-checkbox.disabled.variant-secondary path {
  stroke: var(--color-gray--dark-mode);
}
.drui-checkbox-container .drui-checkbox.checked:not(.disabled) {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.drui-checkbox-container .drui-checkbox.variant-primary.checked:not(.disabled) {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.drui-checkbox-container
  .drui-checkbox.variant-secondary.checked:not(.disabled) {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
}
.drui-checkbox-container
  .drui-checkbox.variant-secondary.checked:not(.disabled)
  path {
  stroke: var(--color-primary);
}
.drui-checkbox-container .drui-checkbox.variant-danger.checked:not(.disabled) {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);
}
.drui-checkbox-container .drui-checkbox.variant-success.checked:not(.disabled) {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
}
.drui-checkbox-container .drui-checkbox.variant-warning.checked:not(.disabled) {
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);
}
