.theme-dark .drui-tooltip {
  background-color: var(--color-info--dark-mode);
  color: var(--color-white);
}
.drui-tooltip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  min-width: min-content;
  padding: 6px;
  color: var(--color-black);
  background: var(--color-white);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 2147483647 !important;
  width: max-content;
  box-shadow: 0px 4px 6px 4px rgba(66, 79, 104, 0.06);
  animation: fadeIn 250ms ease-in-out;
  user-select: none;
}
.drui-tooltip.fade-out {
  animation: fadeOut 250ms ease-in-out;
}
.drui-tooltip .tooltip-title {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 4px;
}
.drui-tooltip .tooltip-content {
  min-width: min-content;
  font-size: 12px;
  padding: 4px;
}
.drui-tooltip.tooltip-position-top {
  bottom: calc(100% + 6px);
}
.drui-tooltip.tooltip-position-right {
  left: calc(100% + 6px);
  top: 50%;
  transform: translate(0, -50%);
}
.drui-tooltip.tooltip-position-bottom {
  top: calc(100% + 6px);
}
.drui-tooltip.tooltip-position-left {
  top: 50%;
  left: calc(-100% + 24px);
  transform: translate(-100%, -50%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
