.theme-dark .thumbnail-switch .thumbnail-switch-container {
  border-color: var(--color-info--dark-mode);
  background-color: transparent;
}
.theme-dark .thumbnail-switch .thumbnail-switch-container:hover {
  border-color: var(--color-secondary--hover--dark-mode);
}
.theme-dark .thumbnail-switch .thumbnail-switch-label {
  color: var(--color-white);
}
.theme-dark .thumbnail-switch .active {
  background-color: var(--color-dark-blue);
}
.thumbnail-switch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumbnail-switch .thumbnail-switch-container {
  padding: 16px 24px 4px 24px;
  border: 1px solid var(--color-pale-gray);
  background-color: var(--color-white);
  border-radius: 5px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6px;
  transition-duration: 250ms;
}
.thumbnail-switch .thumbnail-switch-container:hover {
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
  transition-duration: 250ms;
}
.thumbnail-switch .drui-thumbnail__icon {
  width: 28px;
  height: 28px;
  margin: 8px 0px 0px 0px;
}
.thumbnail-switch .thumbnail-switch-label {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  width: max-content;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: transparent;
  color: var(--color-black);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-shadow: none;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.thumbnail-switch .thumbnail-switch-label:hover {
  cursor: pointer;
}
.thumbnail-switch .check-icon {
  display: block;
  position: absolute;
  padding: 4px;
  bottom: -12px;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background-color: var(--color-primary);
  transition: all 250ms ease-in-out;
}
.thumbnail-switch .active {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-black);
  position: relative;
}
.thumbnail-switch .thumbnail_switch-item-disabled {
  opacity: 0.3 !important;
}
.thumbnail-switch .thumbnail_switch-item-disabled:hover {
  cursor: not-allowed;
}
.thumbnail-switch .wobble {
  animation: wobble 0.5s ease;
  transition: all 250ms ease-in-out;
}
@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
  }
  30% {
    -webkit-transform: translateX(calc(6px / 2)) rotate(10deg);
    transform: translateX(calc(6px / 2)) rotate(10deg);
  }
  45% {
    -webkit-transform: translateX(calc(-6px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-6px / 2)) rotate(calc(-10deg / 1.8));
  }
  75% {
    -webkit-transform: translateX(calc(-6px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-6px / 5.5)) rotate(calc(-10deg / 5));
  }
}
